body {
  margin: 0 auto;
}

h1 {
  border-bottom: 1px solid black;
  text-align: center;
}

h2 {
  text-align: right;
  color: orange;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.wrapper {
  display: flex;
}