h2 {
  text-align: right;
}

.wrapper {
  display: flex;
}

h1 {
  text-align: center;
}

header {
  color: orange;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}